* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: rgb(42, 40, 38);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin-top: 15%;
  font-size: 5rem;
  color: azure;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input,
select {
  height: 30px;
  width: 100px;
  background-color: #91cfef;
}

button {
  width: 70px;
  height: 30px;
  border-radius: 70%;
  background-color: rgb(109, 109, 232);
  color: aquamarine;
}

button:hover,
select:hover {
  cursor: pointer;
}

input:hover {
  cursor: text;
}

table {
  background-color: rgb(201, 226, 247);
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.5rem;
  display: inline-block;
  border-collapse: collapse;
  width: 100%;
  height: 60vh;
  overflow-y: auto;
  border-radius: 17px;
}

th,
td {
  padding: 12px 10px;
}

th {
  position: sticky;
  top: 0px;
  background: #4baee0;
  color: black;
  text-transform: uppercase;
}

tbody:nth-child(even) {
  background-color: #abcaff;
}
